
.boat-description-and-title-container {
    background-color: #fcfae6;
    
}

.boat-description-title {
    margin-left: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: #0c1f30;
    font-size: 2rem;
}

.boat-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e1e2ecc; /* Dark overlay for text contrast */
    color: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    width: 80%;
    margin: 0 auto;
    
}

.boat-description {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}