.boat-images-container {
    background-color: #fcfae6;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.chosen-boat-big-image-container {
    margin-top: 50px ;
    width: 60%;
}

.chosen-boat-big-image {
    width: 100%;
    max-height: 450px; /* Increased height for the big image */
    border-radius: 10px; /* Curved border for the big image */
    object-fit: cover; /* Maintain aspect ratio and cover container */
}

.chosen-boat-small-images-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.chosen-boat-small-image-container {
    margin: 0 5px;
}

.chosen-boat-small-image {
    width: 80px; /* Fixed width for small images */
    height: 80px; /* Fixed height for small images */
    border-radius: 8px; /* Curved border for small images */
    cursor: pointer;
    object-fit: cover; /* Maintain aspect ratio and cover container */
}
