body{
    background-color: #fcfae6;
}
.boat-images-container {
    background-color: #fcfae6;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.chosen-boat-big-image-container {
    margin-top: 50px auto;
    width: 60%;
}

.chosen-boat-big-image {
    width: 100%;
    max-height: 450px; /* Increased height for the big image */
    border-radius: 10px; /* Curved border for the big image */
    object-fit: cover; /* Maintain aspect ratio and cover container */
}

.chosen-boat-small-images-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.chosen-boat-small-image-container {
    margin: 0 5px;
}

.chosen-boat-small-image {
    width: 80px; /* Fixed width for small images */
    height: 80px; /* Fixed height for small images */
    border-radius: 8px; /* Curved border for small images */
    cursor: pointer;
    object-fit: cover; /* Maintain aspect ratio and cover container */
}


/* Media Query for Smaller Screens (e.g., Smartphones) */
@media (max-width: 768px) {
    .chosen-boat-big-image-container {
        max-width: 300px; /* Adjust maximum width for smaller screens */
    }

    .chosen-boat-small-image {
        width: 60px; /* Reduce width of small images for smaller screens */
        height: 60px; /* Reduce height of small images for smaller screens */
    }
}

