/* LeafletMapComponent.css */


.leaflet-map-container {
    margin-top: 20px;
    background-color: #fcfae6;
    width: 100%;
    height: 400px; /* Adjust height as needed */
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.leaflet-map {
    width: 100%;
    height: 100%;
}
